/* src/components/NavBar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo img {
    height: 40px;
}

.navbar-center a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.navbar-center a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px; /* Adjust the position of the underline */
    left: 0;
    background-color: rgb(10, 143, 68); /* Glassdoor-like color */
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.1s ease-in-out;
}

.navbar-center a:hover::after,
.navbar-center a:focus::after {
    visibility: visible;
    transform: scaleX(1);
}

.navbar-right .icon {
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
}

.navbar-right .icon:hover {
    color: rgb(10, 143, 68); /* Glassdoor-like hover color */
}